@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'animate';

// =========================================common sets================================================


$color_powder_white: #EEEFEA;
$color_deep_brown: #453C38;
$color_light_brown: #6A5C55;
$color_orange: #f0ad4e;
$color_skin : #F7D098;


*{
	// border: solid 1px;
	user-select: none;
}

body, html{
	height: 130%;
	background-image: url("http://i40.tinypic.com/2ho9szs.gif");
}

ul{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1{
	text-align: center;
}

.title_bar{
	height: 8px;
	width: 50px;
	background-color: red;
	margin: 10px auto 20px auto;
}

// =========================================about us page================================================


.summary{
	margin: auto;
}



// ===============================================navbar=================================================


.navbar a:link{
	color: white;
}

a:hover{
	text-decoration: none;
}

.form-group li{
	margin: 10px;
}

.navbar{
	background-color: $color_orange;
	margin: -10px -25px 0 -25px;
	// display: flex;
}


// =======================================topic index page=============================================


.container-fluid{
	width: 80vw;
	min-width: 1000px;
	height: 100%;
	background-color: $color_powder_white;
	box-shadow: 0px 0px 30px rgba(white,.5);
	padding: 10px 25px;
}

.comments_count{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $color_orange;
	color: $color_powder_white;
	margin: 0 auto;
}

.topic-container{
	width: 95%;
	margin: auto;
}


// =======================================my profile page=============================================

.profile_card{
	width: 400px;
	height: 400px;
	background-color: $color_skin;
	border-radius: 15px;
	padding: 30px;
	margin: 20px auto;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	transition: .5s;
}

.profile_card .photo{
	width: 100px;
	height: 100px;
	margin: auto;
}

.profile_card:hover{
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 10px rgba(0,0,0,.8);
}

.profile_card .photo{
	width: 100px;
	height: 100px;
}

.profile_card table{
	width: 100%;
}

.my_profile_btns{
	margin-top: 20px;
}

.my_view_box{
	height: 350px;
	overflow: scroll;
	padding-top: 10px;
	margin-top: 20px;
}

.my_comments{
	margin-bottom: 20px;
}

.my_comments .col-sm-4{
	height: 175px;
	// overflow: scroll;

}

.my_comments .my_comments_box{
	background-color: $color_skin;
	border-radius: 10px;
	padding: 10px;
	height: 150px;
	position: relative;

	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
	transition: .5s;
	cursor: pointer;
}

.my_comments .my_comments_box:hover{
	transform: translate(-3px, -3px);
	box-shadow: 5px 5px 8px rgba(0,0,0,.8);
}

.my_comments .my_comments_box h4{
	margin-top: 0;
}

.my_comments .my_comments_box .my_read_more{
	position: absolute;
	right: 35px;
	bottom: 8px;
}

.my_comments .my_comments_box .my_delete{
	position: absolute;
	right: 8px;
	bottom: 8px;
}


// =======================================topic show page=============================================


.topic_comments{
	max-height: 420px;
	padding: 10px 20px;
	overflow: scroll;
}

.topic_content{
	height: 200px;
	margin-top: 20px;
}

.comment_boxes{
	background-color: rgba(white,.6);
	border-radius: 10px;
	padding: 10px;
	margin: 5px 0;
	position: relative;
}

.comment_btns{
	position: absolute;
	right: 10px;
	top: 10px;
}







